
header{
    background-image: url(https://github.com/JackFovard/HW1/blob/Header/%D0%BF%D0%BE%D0%BC%D0%BE%D1%89%D1%8C/header_bg4.jpg?raw=true);
    background-color: white;
    text-align: center;
    font-size: 30px;
    color: white;
}
ul {
    display: block;
    margin: 0;
    padding: 5px;
    list-style: none;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    width:33%;
    float: left;
    position: relative;
}
ul.menu > li > a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}
